<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
	<script src="/semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
   <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
	<title>DriveEasy</title>
</head>
<body>
	<div class="ui container">
		<div class="ui middle aligned center aligned grid">
			<div class="ui very padded segment">
				<h2 class="ui center aligned header">
					Driver:Deval Srivastava
				</h2>
				<h3 class="ui right aligned header dividing">
					Next Trip
				</h3>
				<h3 class="ui header">
					Start:Nerul         End:Andheri
				</h3>
				
			</div>	
		</div>
	</div>
</body>
</html>